body{
    text-align: center;
}

#Book-Title{
    background-color: #000000;
    color: rgb(0, 0, 0); 
}

.Listing{
    padding: 3% 15%;
}

.head-title{
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

/* Nav-bar */

.navbar-brand{
    font-family: 'Bangers', cursive;
    font-weight: 100;
    font-size: 40px;
}

.nav-item{
    padding-left: 1.5rem;
    color: #000000;
}

.nav-link{
    font-size: 1.25rem;
    font-family: "Montserrat-Thin", sans-serif;
}



/* Description */
.home{
     
}

.login{
    padding-right: 10%;
}
.Mimg{
    height: 85%;
    width: 65%;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
   /* border-radius: 2% 2% 2% 2%;*/ 
   filter: drop-shadow(0 0 0.75rem rgb(244, 243, 247));
    box-shadow: 2px 2px 2px rgb(214, 214, 216);
    
    
}
.img{
    height: 85%;
    width: 75%;
    float: right;
    margin-left : 50px;
    margin-bottom: 50px;
    /*border-radius: 2% 2% 2% 2%;*/
    filter: drop-shadow(0 0 0.75rem rgb(244, 243, 247));
    box-shadow: 2px 2px 2px rgb(214, 214, 216); 
    
    
}

.Desc{
    background-color: #000000;
    color: rgb(236, 236, 236);
    padding: 1.5rem;
}

.Mov-Des{
    padding: 3% 15% 15%;
}

.Mov-h1{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 65px;
}

/* footer */
.footer{
    margin-top: 225px;
    text-align: center;
    color: #080808;
}


/* media query */
/*@media (max-width: 900px) {*/ 

 .Desc{
    text-align: center;
    height: 550px;
 }

#pricing h2{
    padding:2%;
}
.row h2,h3,p{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: #ffffff;
}
.row img{
width: 75%;
height: 75%;
}

.form {
    display: flex;
    flex-direction: column;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    padding: 20px;
    border-radius: 10px;
    max-width: 750px;
    max-height: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  .title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #fff;
  }
  
  .description {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(209 213 219);
  }
  
  .form div {
    display: flex;
    max-width: 28rem;
    margin-top: 1rem;
    column-gap: 0.5rem;
  }
  
  .form div input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255 255 255 );
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
    flex: 1 1 auto;
  }
  
  .form div input::placeholder {
    color: rgb(216, 212, 212);
  }
  
  .form div input:focus {
    border: 1px solid rgb(99 102 241);
  }
  
  .form div button {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: rgb(99 102 241);
    border-radius: 0.375rem;
    border: none;
    outline: none;
  }
  .rating {
    cursor: pointer;
  }
  
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
    width: 33rem;
  }
  
  .rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    width: 100%;
  }
  
  .rating {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2.2rem;
    margin-top: 100px;
  }
  
  .rating-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .svg {
    fill: rgb(242, 242, 242);
    height: 3.6rem;
    width: 3.6rem;
    margin: 0.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .rating-form-2 svg {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
  }
  
  #radios label {
    position: relative;
  }
  
  .super-happy, [type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .input ,[type="radio"] + svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .super-happy[class="super-happy"]:hover + svg,
  .super-happy[class="super-happy"]:checked + svg,
  .super-happy[class="super-happy"]:focus + svg {
    fill: rgb(0, 204, 79);
    transition: 1.5s;
  }
  
  .neutral[class="neutral"]:hover + svg,
  .neutral[class="neutral"]:checked + svg,
  .neutral[class="neutral"]:focus + svg {
    fill: rgb(232, 214, 0);
    transition: 1.5s;
  }
  
  .super-sad[class="super-sad"]:hover + svg,
  .super-sad[class="super-sad"]:checked + svg,
  .super-sad[class="super-sad"]:focus + svg {
    fill: rgb(239, 42, 16);
    transition: 1.5s;
  }
  
  
  