body{
    text-align: center;
}

#Book-Title{
    background-color: #000000;
    color: rgb(0, 0, 0); 
}

.Listing{
    padding: 3% 15%;
}

.head-title{
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

/* Nav-bar */

.navbar-brand{
    font-family: 'Bangers', cursive;
    font-weight: 100;
    font-size: 40px;
}

.nav-item{
    padding-left: 1.5rem;
    color: #000000;
}

.nav-link{
    font-size: 1.25rem;
    font-family: "Montserrat-Thin", sans-serif;
}



/* Description */
.home{
     
}

.login{
    padding-right: 10%;
}
.Mimg{
    height: 85%;
    width: 65%;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
   /* border-radius: 2% 2% 2% 2%;*/ 
   filter: drop-shadow(0 0 0.75rem rgb(244, 243, 247));
    box-shadow: 2px 2px 2px rgb(214, 214, 216);
    
    
}
.img{
    height: 85%;
    width: 75%;
    float: right;
    margin-left : 50px;
    margin-bottom: 50px;
    /*border-radius: 2% 2% 2% 2%;*/
    filter: drop-shadow(0 0 0.75rem rgb(244, 243, 247));
    box-shadow: 2px 2px 2px rgb(214, 214, 216); 
    
    
}

.Desc{
    background-color: #000000;
    color: rgb(236, 236, 236);
    padding: 1.5rem;
}

.Mov-Des{
    padding: 3% 15% 15%;
}

.Mov-h1{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 65px;
}

/* footer */
.footer{
    text-align: center;
}


/* media query */
/*@media (max-width: 900px) {*/ 

 .Desc{
    text-align: center;
 }

#pricing h2{
    padding:2%;
}
.row h2,h3,p{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: #ffffff;
}
.row img{
width: 75%;
height: 75%;
}
